# Ignore Python cache files
__pycache__/
*__pycache__/*

# Ignore macOS system files
.DS_Store

# Ignore configuration files
config.py

# Ignore package lists
packages.txt

# Ignore plugin files
plugins

# Ignore header files
include

# Ignore Dockerfile
Dockerfile

# Ignore readme file
README.md
